html {
    height: 100%;
}
body {
    background-color: black;
    margin: 0;
    display: flex;
    flex-flow: column;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: .16in;
}
#mainContent {
    margin: 0in;
    overflow-y: auto;
    position: fixed;
}

#inchMeter {
    width: 1in;
    height: 1in;
    margin: 0in;
    position: absolute;
    background-color: #0000;
    color: #0000;
}

.topBar {
    left: 0%;
    top: 0%;
    position: fixed;

    box-shadow: 0in .01in .1in #00000020;
}
.searchBar {
    margin: .15in;
    margin-top: .1in;
    margin-bottom: .1in;
    padding-left: .225in;
    padding-right: .225in;
    font-size: .16in;
    left: 0%;
    top: 0%;
    height: .48in;
    width: calc(100% - .3in - .45in);
    border-radius: .24in;
    
    font-family: "Open Sans", sans-serif;

    border-style: none;
    box-shadow: 0in .01in .1in #00000040;
    outline: solid;
    outline-color: #0000;
    outline-width: .01in;
    transition: outline-color .2s ease-out;
}
.searchBar:focus {
    outline: solid;
    outline-width: .03in;
}
.searchBar::placeholder {
    opacity: .5;
}
#searchResultsContainer {
    margin: 0in;
    padding: 0.075in;
    flex: 1 1 auto;
    grid-template-columns: repeat(auto-fit, minmax(3.5in, 1fr));
    display: grid;

    background-color: #0000;
}
.searchResult {
    margin: 0.075in;
    padding: 0.1in;
    border-radius: .12in;
    display: inline;
    height: 1in;

    box-shadow: 0in .01in .1in #00000020;
}
.risonen {
    text-align: right;
    white-space: nowrap;
    margin-left: .1in;
}
.kotoba {
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.kotobara {
    font-weight: bold;
    font-size: 80%;
    opacity: 60%;
}
.kotobaTop {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    width: 100%;
}